
/*home*/
.home{
    margin-top: 5%;
}
.inline{
    margin-right: 8px;
}
.btn-danger-soft{
    color: #d6293e;
    background-color: rgba(214, 41, 62, 0.1);
}
.home-circle{
    font-size: 36px;
}
.home-text p{
    font-size: 18.75px;
}
.home-text h1{
    font-size: 56px;
}

.home-text{
    position: relative;
    top: 150px;
}
.images-home{
    
    height: 603px;
    width: auto;
}
/*info*/
.info{
    margin-top: 5%;
}
.text-info{
    margin-right: 5%;
    color: black !important;

}
/*course*/
.courses{
    margin-top: 5%;
}
.checked {
    color: orange;
  }
.nav-set{
      background-color: rgba(6, 106, 201, 0.1);
     
      text-align: center;
  }
.courses-info{
     
     margin-top: 3%;
 }
 
.btn1{
      margin: 3%;
  }
.courses-info-section{
    margin-bottom: 1%;
}

 /*instructor*/
 .instructor{
    margin-top: 5%;
 
}
.instructor-text{
    background-color: #1AA2B8;
    padding: 1.5%;
    color: white;
}

.text-button{
    text-align: center;
    padding-top: 3%;
}

/*trending*/
.trending{
    margin-top: 5%;
}
.trending-text{
    text-align: center;
}
.img-trending{
    height: 40px;
    width: 40px;
}
.price-cart{
    display: none;
    visibility:hidden;
}
.cart:hover{
    visibility: visible;
}
.image-trending{
    
    margin-left: 0.5%;
    margin-right: 0%;
   
}
.footer-website{
    margin-top: 5%;

}

@media screen and (max-device-width: 480px){
    .images-home{
        height: 303px;
        width: 225px;
        position: relative;
        top: 160px;
        
    } 
    /*info*/
    .info{
        margin-top: 35%;
    }
    .info-text{
        text-align: center;
    }
      
}




@media screen and (min-device-width: 481px) and (max-device-width: 768px){
    .images-home{
        height: 433px;
        width: 325.1px;
        position: relative;
        top: 160px;
        left: 50px;
    }
    /*info*/
    .info{
        margin-top: 25%;
    }
    .info-text{
        text-align: center;
    }
    
}


@media screen and (min-device-width: 769px) and (max-device-width: 1023px){

    .navbar{
        width: 100vmax;
    }
    .images-home{
        height: 500px;
        width: 350px;
    }

    .info{
        margin-top: 20%;
    }
    .info-text{
        text-align: center;
    }

   
}

@media screen and (min-device-width: 1023px) {
    
}
