.navcent{
    padding-left: 5%;
}
/*home*/
.home{
    margin-top: 5%;
}
.home h1{
    font-size: 40px;
}
.home-text{
    position: relative;
    top: 100px;
    padding: 5%;
}
.image-home{
    height: 603px;
    width: 386px;
}
/*info*/
.info{
    margin-top: 5%;
}
.text-info{
    margin: 5%;
    color: black !important;

}
/*course*/
.courses{
    margin-top: 5%;
}
.checked {
    color: orange;
  }
  .nav-set{
      background-color: rgba(6, 106, 201, 0.1);
      
      text-align: center;
  }
 .courses-info{
     
     margin: 3%;
 }
 
  .btn1{
      margin: 3%;
  }

  /**/
  .instructor{
      margin-top: 5%;
      display: grid;
      grid-column: auto;
      background-color: #1AA2B8;
      padding-bottom: 2%;
      color: white;
  }
  .instructor-text{
      position: relative;
      top: 20%;
  }
  .text-button{
      text-align: right;
  }





@media screen and (max-device-width: 480px){
    .image-home{
        height: 303px;
        width: 193.9px;
        position: relative;
        top: 100px;
        left: 50px;
    } 
    /*info*/
    .info{
        margin-top: 35%;
    }
    .info-text{
        text-align: center;
    }
    /**/
    .nav-set{
        text-align: none;
    }
    .card{
        position: relative;
        left: 10%;
    }
    /**/
    .instructor{
        padding-bottom: 9%;
    }


    }


@media screen and (min-device-width: 481px) and (max-device-width: 768px){
    .image-home{
        height: 433px;
        width: 277.1px;
        position: relative;
        top: 100px;
        left: 50px;
    }
    /*info*/
    .info{
        margin-top: 25%;
    }
    .info-text{
        text-align: center;
    }
    /*course*/
 


    }


@media screen and (min-device-width: 769px) and (max-device-width: 1023px){

    .image-home{
        height: 503px;
        width: 321.98px;
    }
    .info-text{
        text-align: center;
    }
    /*course*/
    


}

@media screen and (min-device-width: 1024px){
}